.post-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0; }

.subtitle {
  margin-top: -20px; }

img.thumbnail {
  display: block;
  max-width: 100px;
  max-height: 62px;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0; }

img.post {
  display: block;
  max-width: 585px;
  max-height: 295px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 575px) {
  img.post {
    max-width: calc(95%); }

  img.thumbnail {
    max-width: 100%;
    max-height: 62px; } }
#postImageHeader {
  margin-left: auto;
  margin-right: auto; }

.btn-paginator {
  width: 92px;
  max-width: 100%;
  background-color: #18bc9c; }
